.home--page__wripper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home--page {
    padding-top: -4rem;
    width: 100%;
    padding-left: 2rem;
}

.welcome--message {
    color: var(--tertiary-color);
    font-size: 2.5rem;
}

.home--page__title {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--quaternary-color);
}

.home--links__container {
    display: flex;
    gap: 4rem;
    padding: 2rem 0;
}

.home--links__container span {
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s;
}

.login--link {
    border: solid 4px var(--quaternary-color);
    color: var(--quaternary-color);
}

.signup--link {
    border: solid 4px var(--tertiary-color);
    color: var(--tertiary-color);
}

.login--link:hover {
    background-color: var(--quaternary-color);
    color: var(--background-color);
}

.signup--link:hover {
    background-color: var(--tertiary-color);
    color: var(--background-color);
}